<section class="bg-[#EFEFEF] min-h-[calc(100vh-64px)] flex flex-col justify-center border-b border-[#CDDEE5] pb-10">
    <div class="max-w-7xl mx-auto px-6 flex flex-col items-center text-center">

        <h1 class="text-4xl md:text-5xl font-extrabold text-[#7296A4] mb-6 leading-tight max-w-3xl">
            Soluciones de desarrollo a medida con <span class="text-[#347a96]">MonkeyDev</span>
        </h1>

        <p class="text-lg md:text-xl text-[#7296A4] opacity-90 max-w-2xl mb-10 leading-relaxed">
            Nos dedicamos a ofrecer soluciones integrales a desarrolladores y empresas que necesitan una mano. Desde interfaces limpias hasta arquitecturas robustas.
        </p>

        <a href="#contacto" class="bg-[#7296A4] text-white px-8 py-3 rounded-md text-lg font-medium hover:bg-[#9EBECB] hover:shadow-md transition-all duration-300 inline-block text-center cursor-pointer">
            Enviar Solicitud
        </a>

    </div>
</section>