<section class="bg-slate-50 min-h-[calc(100vh-64px)] flex flex-col justify-center border-b border-slate-400 pb-10">
    <div class="max-w-7xl mx-auto px-6 flex flex-col items-center text-center">

        <h1 class="text-4xl md:text-5xl font-extrabold text-slate-800 mb-6 leading-tight max-w-3xl">
            Soluciones de desarrollo a medida con <span class="text-orange-700">MonkeyDev</span>
        </h1>

        <p class="text-lg md:text-xl text-slate-600 max-w-2xl mb-10 leading-relaxed">
            Nos dedicamos a ofrecer soluciones integrales a desarrolladores y empresas que necesitan una mano. Desde interfaces limpias hasta arquitecturas robustas.
        </p>

        <a [routerLink]="['/']" fragment="contacto" class="bg-orange-700 text-white px-8 py-3 rounded-full text-lg font-medium hover:bg-orange-800 hover:shadow-lg transition-all duration-300 inline-block text-center cursor-pointer hover:-translate-y-0.5">
            Enviar Solicitud
        </a>

    </div>
</section>