<header class="bg-[#EFEFEF] shadow-sm relative z-50">
    <nav class="max-w-7xl mx-auto px-6">
        <div class="flex justify-between items-center h-16">
            
            <div class="flex items-center md:hidden">
                <button (click)="toggleMobileMenu()" class="text-[#7296A4] hover:text-[#9EBECB] focus:outline-none p-2">
                    <svg class="w-7 h-7 stroke-current" fill="none" viewBox="0 0 24 24">
                        @if (!isMobileMenuOpen) {
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M4 6h16M4 12h16M4 18h16"></path>
                        } @else {
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5" d="M6 18L18 6M6 6l12 12"></path>
                        }
                    </svg>
                </button>
            </div>

            <div class="hidden md:flex items-center gap-8 text-sm font-medium text-[#7296A4]">
                <a [routerLink]="['/']" (click)="closeMenus()" class="hover:text-[#9EBECB] transition-colors">Home</a>
                <a [routerLink]="['/']" fragment="card-progranador" (click)="closeMenus()" class="hover:text-[#9EBECB] transition-colors">Programadores</a>
                <a [routerLink]="['/']" fragment="proyectos" (click)="closeMenus()" class="hover:text-[#9EBECB] transition-colors">Proyectos</a>
                <a [routerLink]="['/']" fragment="servicios" (click)="closeMenus()" class="hover:text-[#9EBECB] transition-colors">Servicios</a>
                <a [routerLink]="['/']" fragment="contacto" (click)="closeMenus()" class="hover:text-[#9EBECB] transition-colors">Enviar Solicitud</a>
                <a [routerLink]="['/mis-solicitudes']"  (click)="closeMenus()" class="hover:text-[#9EBECB] transition-colors">Mis solicitudes</a>
                <a [routerLink]="['/solicitudes-recibidas']"  (click)="closeMenus()" class="hover:text-[#9EBECB] transition-colors">Solicitudes</a>

            </div>

            <div class="hidden md:flex relative items-center">
                <div class="flex items-center gap-4">
                    @if(user$ | async; as user){
                        <span class="text-sm font-semibold text-[#7296A4] hidden md:block">
                            {{ user.email }}
                        </span>

                        <button
                            (click)="logout()" 
                            class="text-red-500 border border-red-200 bg-red-50 px-4 py-2 rounded-lg font-bold hover:bg-red-100 transition-colors">
                            Cerrar sesión
                        </button>
                    }
                    @else{
                        <a routerLink="/login"
                            class="text-[#7296A4] font-bold hover:text-[#9EBECB] transition-colors">
                            Ingresar
                        </a>
                        <a routerLink="/registro"
                            class="ng-[#7296A4] text-white px-4 py-2 rounded-lg font-bold bg-[#9EBECB] hover:bg-[#7296A4] hover:shadow-md transition-all">
                            Registrarse
                        </a>
                    }
                </div>
            </div>

        </div>
    </nav>

    <div 
        [class.hidden]="!isMobileMenuOpen" 
        class="md:hidden bg-[#EFEFEF] border-t border-[#CDDEE5] absolute w-full shadow-md">
        
        <div class="px-4 pt-2 pb-4 space-y-1">
            <a [routerLink]="['/']" (click)="closeMenus()" class="block px-3 py-3 rounded-md text-base font-medium text-[#7296A4] hover:bg-[#E6F0F2]">Home</a>
            <a [routerLink]="['/']" fragment="card-progranador" (click)="closeMenus()" class="block px-3 py-3 rounded-md text-base font-medium text-[#7296A4] hover:bg-[#E6F0F2]">Programadores</a>
            <a [routerLink]="['/']" fragment="proyectos" (click)="closeMenus()" class="block px-3 py-3 rounded-md text-base font-medium text-[#7296A4] hover:bg-[#E6F0F2]">Proyectos</a>
            <a [routerLink]="['/']" fragment="servicios" (click)="closeMenus()" class="block px-3 py-3 rounded-md text-base font-medium text-[#7296A4] hover:bg-[#E6F0F2]">Servicios</a>
            <a [routerLink]="['/']" fragment="contacto" (click)="closeMenus()" class="block px-3 py-3 rounded-md text-base font-medium text-[#7296A4] hover:bg-[#E6F0F2]">Enviar Solicitud</a>
            <a [routerLink]="['/mis-solicitudes']" (click)="closeMenus()" class="block px-3 py-3 rounded-md text-base font-medium text-[#7296A4] hover:bg-[#E6F0F2]">Mis Solicitudes</a>
            <a [routerLink]="['/solicitudes-recibidas']" (click)="closeMenus()" class="block px-3 py-3 rounded-md text-base font-medium text-[#7296A4] hover:bg-[#E6F0F2]">Solicitudes</a>

            <div class="border-t border-[#CDDEE5] mt-4 pt-4">
                <a [routerLink]="['/login']" (click)="closeMenus()" class="block px-3 py-3 rounded-md text-base font-medium text-white bg-[#7296A4] hover:bg-[#9EBECB] mb-2 text-center">Iniciar Sesión</a>
                <a [routerLink]="['/registro']" (click)="closeMenus()" class="block px-3 py-3 rounded-md text-base font-medium text-[#7296A4] border border-[#7296A4] hover:bg-[#E6F0F2] text-center">Registrarse</a>
            </div>
        </div>
    </div>
</header>